@use "./base.scss";

// put your custom CSS here!
/* Typography Reset and Structure */
li, ol, p, ul {
  hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
}

p {
  line-height: 1.5;
  padding-bottom: 5px;
}

p.meta,
div p time {
  font-size: 0.8em;
  text-transform: lowercase;
}

article ul li,
article p {
  padding-bottom: 8px;
}

ul li a {
  line-height: 1.5;
  font-weight: normal;
}

div ul li {
  padding-bottom: 3px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

h1.article-title {
  padding-bottom: 5px;
  font-weight: 700;
}

/* Links and Buttons */
a.internal {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

a.folder-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8em;
}

button.folder-button {
  font-variant: small-caps;
}

#explorer-content ul li > a {
  font-weight: 400;
}

/* Breadcrumbs and Containers */
div.breadcrumb-element {
  text-transform: lowercase;
}

div.folder-container {
  padding-bottom: 5px;
}
