@use "./base.scss";

// put your custom CSS here!
a.internal {
  font-size:14px;
}
ul li a {line-height: 150%;}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 400;
}
h1.article-title{padding-bottom: 5px;
font-weight: 700}

h1 {font-size: 2em;}

h2 {font-size: 1.75em;}

h3 {font-size: 1.5em;}

h4 {font-size: 1.25em;}

h5 {font-size: 1.1em;}

h6 {font-size: 1em;}

button.folder-button, a.folder-title {font-variant: small-caps;}

#explorer-content ul li > a {font-weight: 400;}

li,ol,p,ul {
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;}

p {line-height: 150%;padding-bottom: 5px}

p.meta {font-size: 0.8em;}

article ul li, article p {padding-bottom: 8px;}

div p time {  text-transform: lowercase;  font-size: 0.8em;  }

div.breadcrumb-element {  text-transform: lowercase;}

ul li a {
  font-weight: normal;

}

div ul li {
  padding-bottom: 3px;

}

div.folder-container {
    padding-bottom: 5px;

}

a.folder-title {
  font-weight: 400!important;
}

a.internal {
  font-weight: 700;
  font-style: normal
}
